<div class= "container-fluid">
  <div id = "homer">
    <img src = "http://reactiongifs.me/wp-content/uploads/2013/08/laughing-like-a-king-homer-simpson.gif"></img>
  </div>
</div>
<div class ="container-fluid">
  <div id = "bush">
   <img src = "http://i.imgur.com/tZOS8.gif">
 </di
</div>
