<div id='sign_up'>
  Sign up
  <form action = '/sign_up' method = "post">
    Email: <input type="text" name="email">
    Password: <input type="password" name="password">
    <input type="submit" value="Sign up">
  </form>
  <p><%=@error%></p>
</div>
