<div>
  <form action = '/sign_in' method = "post">
    <input type="text" name="email">
    <input type="password" name="password">
    <input type="submit" value="Log in">
  </form>
  <p><%=@error%></p>
</div>
<div>
  <form action='sign_up' method="get">
    <input type="submit" value="Sign up">
  </form>
</div>
