<div id='sign_in'>
  <form action = '/sign_in' method = "post">
    Email: <input type="text" name="email">
    Password: <input type="password" name="password">
    <input type="submit" value="Log in">
  </form>
  <p><%=@error%></p>
</div>
<div id="sign_up">
  <form action='sign_up' method="get">
    <input type="submit" value="Sign up">
  </form>
</div>
