<div class= "container-fluid">
  <div class ="row">
    <div class="col-md-8">
        <h1>Sign up</h1>
        <form action="/sign_up" method="POST">
          <input type = "text" name="email" placeholder="Email">
          <input type ="password" name="password" placeholder="Password">
          <input type ="submit" value="Sign up">
        </form>
    </div>
  </div>
</div>
